body {
  overflow-x: hidden;
  min-width: 300px; }

#pjaxContent {
  margin-top: 56px;
  padding-top: 20px;
  overflow-x: hidden; }

h1 {
  vertical-align: middle; }
  h1 small {
    vertical-align: middle;
    position: relative;
    font-size: 1.2rem;
    top: -2px;
    opacity: .6; }
    h1 small:before, h1 small::before {
      content: '/';
      position: relative;
      margin-right: 5px;
      top: -1px; }

#listView {
  table-layout: fixed; }
  #listView thead th {
    vertical-align: middle; }
    #listView thead th .header {
      position: relative;
      padding-right: 20px;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis; }
      #listView thead th .header .sort {
        color: inherit;
        display: block;
        position: absolute;
        right: 0;
        top: -4px;
        bottom: 0;
        text-decoration: none; }
        #listView thead th .header .sort > div {
          height: 50%;
          position: relative; }
          #listView thead th .header .sort > div:nth-child(1) {
            margin-top: 4px; }
          #listView thead th .header .sort > div:nth-child(2) {
            margin-top: -8px; }
          #listView thead th .header .sort > div .fa {
            height: 100%;
            display: block;
            opacity: .3; }
        #listView thead th .header .sort[data-sort][data-sort="asc"] .fa-sort-asc {
          opacity: 1; }
        #listView thead th .header .sort[data-sort][data-sort="desc"] .fa-sort-desc {
          opacity: 1; }
    #listView thead th.actions .view {
      overflow: hidden;
      -o-text-overflow: ellipsis;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis; }
  #listView tbody tr td {
    vertical-align: middle; }
    #listView tbody tr td .view {
      overflow: hidden;
      -o-text-overflow: ellipsis;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis; }
    #listView tbody tr td.actions {
      white-space: nowrap;
      text-align: center; }
  #listViewWrapper {
    width: 100%;
    overflow-x: auto; }
    #listViewWrapper .summaries {
      flex-grow: 1; }
    #listViewWrapper .limit-field {
      flex-shrink: 0; }
      #listViewWrapper .limit-field .btn {
        font-size: 12px; }

.nav-pills {
  overflow: hidden; }
  .nav-pills.b-r {
    border-radius: .25rem 0 0 .25rem;
    border-right: 1px solid rgba(0, 0, 0, 0.13); }
  .nav-pills .nav-link {
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block; }
    .nav-pills .nav-link.rounded-0 {
      border-radius: 0; }

[data-rel="tabs-pane"]:not(.active) {
  display: none; }

/*# sourceMappingURL=index.css.map */
