@import "../../utils/index";


tbody {
  tr {
    td {
      .view {
        @include ellipsis;
      }
      vertical-align: middle;
      &.actions {
        white-space: nowrap;
        text-align: center;
      }
    }
  }
}