@import "../../utils/index";

thead {
  th {
    vertical-align: middle;
    .header {
      position: relative;
      padding-right: 20px;
      @include ellipsis;
      .sort {
        color: inherit;
        display: block;
        position: absolute;
        right: 0;
        top: -4px;
        bottom: 0;
        text-decoration: none;
        > div {
          height: 50%;
          position: relative;
          &:nth-child(1) {
            margin-top: 4px;
          }
          &:nth-child(2) {
            margin-top: -8px;
          }
          .fa {
            height: 100%;
            display: block;
            opacity: .3;
          }
        }
        &[data-sort] {
          &[data-sort="asc"] {
            .fa-sort-asc {
              opacity: 1;
            }
          }
          &[data-sort="desc"] {
            .fa-sort-desc {
              opacity: 1;
            }
          }
        }
      }
    }
    &.actions {
      .view {
        @include ellipsis;
      }
    }
  }
}