#listView {
  table-layout: fixed;
  @import "_listView/_thead";
  @import "_listView/_tbody";
  &Wrapper {
    width: 100%;
    overflow-x: auto;
    .summaries {
      flex-grow: 1;
    }
    .limit-field {
      flex-shrink: 0;
      .btn {
        font-size: 12px;
      }
    }
  }
}