.nav {
  &-pills {
    &.b-r {
      border-radius: .25rem 0 0 .25rem;
      border-right: 1px solid rgba(0, 0, 0, .13);
    }
    overflow: hidden;
    .nav-link {
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
      &.rounded-0 {
        border-radius: 0;
      }
    }
  }
}