body {
  overflow-x: hidden;
  min-width: 300px;
}

#pjaxContent {
  margin-top: 56px;
  padding-top: 20px;
  overflow-x: hidden;
}

h1 {
  vertical-align: middle;
  small {
    vertical-align: middle;
    position: relative;
    font-size: 1.2rem;
    top: -2px;
    opacity: .6;
    &:before,
    &::before {
      content: '/';
      position: relative;
      margin-right: 5px;
      top: -1px;
    }
  }
}